@import "_variables"

body
	margin: 0
	background-color: $white
	font: 18px/1.4 'Alegreya', sans-serif

p
	margin-top: 0

h1
	font-size: 64px
	text-transform: uppercase
	letter-spacing: 1px
	color: $white
	margin-bottom: 0
	line-height: 1
	font-family: 'Alegreya Sans'

h2
	text-transform: uppercase
	font-size: 36px
	line-height: 43px
	letter-spacing: 1px
	font-weight: 700
	color: $text
	position: relative
	display: inline-block
	margin: 0 auto
	padding: 4px 11px
	font-family: 'Alegreya Sans'
	
	&:before,
	&:after
		content: ''
		display: inline-block
		position: absolute
		
	&:before
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1
		background-color: $white
		border: 4px solid $yellow

	&:after
		z-index: -2
		border: 4px solid $yellow
		left: -11px
		top: 11px
		bottom: -11px
		right: 11px

h3
	margin-top: 0
	font-weight: 800
	font-size: 36px
	line-height: 1


.wrapper
	max-width: 1440px
	margin: 0 auto
	padding: 0 40px
	box-sizing: border-box

header
	background: url(../img/header.jpg) 50% 50%/cover no-repeat
	height: 900px
	margin-bottom: 80px
	padding-top: 88px
	box-sizing: border-box
	
.header-time
	color: $white
	font-size: 36px
	line-height: 1
	font-weight: 700

	span
		font-size: 48px

.header-links
	width: 40%
	float: right

	&__item
		span
			text-transform: uppercase
			color: $white
			background-color: rgba(#000, .4)
			padding: 4px 14px 3px
			font-weight: 700
			letter-spacing: 1px
			cursor: pointer
			display: inline-block


.header
	text-align: center

	h2
		margin-bottom: 80px

.reasons
	margin-bottom: 80px
	
.reasons-list
	display: flex
	flex-flow: column wrap
	margin-bottom: 80px

.reason-item
	width: 48%
	max-width: 500px
	position: relative
	padding-left: 38px
	box-sizing: border-box

	&:before
		content: ''
		position: absolute
		background-color: $yellow
		width: 8px
		height: 100%
		top: 0
		left: 0

	&:nth-child(even)
		align-self: flex-end

	h3
		margin: 0 0 16px

	p
		margin-bottom: 0

.walking-info
	margin-bottom: 80px

.walking
	display: flex
	padding: 0 100px
	overflow: hidden
	margin-bottom: 60px
	
	&__text
		width: 70%
		position: relative
		
		div
			position: absolute
			transition: all .1s linear

			&:not(.active)
				visibility: hidden
				opacity: 0

			&.active
				position: relative
			
	
	&__menu
		width: 30%
		padding-left: 100px
		box-sizing: border-box
		
	
	ul
		list-style: none
		margin: 0

	li
		margin-bottom: 16px
		text-transform: uppercase
		font-weight: 700
		text-decoration: none
		color: $text
		font-family: 'Alegreya Sans'
		letter-spacing: 1px
		cursor: pointer

.eat-wine
	padding: 60px 0
	background-color: $blue
	color: $white
	
	h2
		color: $white
		margin-bottom: 40px

.eat-wine-text
	padding: 0 40px
	columns: 2

.museum-akhvlediani
	padding: 80px 0

footer
	background-color: $blue
	padding: 40px 0

.footer-content
	display: flex
	justify-content: space-between
	color: $white
	
	a
		color: $white
	
	p
		margin-bottom: 0


.owl-carousel
	&__item
		position: relative
		
		img
			vertical-align: top
	
	&__item-text
		position: absolute
		bottom: 0
		background-color: rgba(#000, .4)
		width: 100%
		padding: 20px 40px
		box-sizing: border-box

		p
			color: #fff
			margin-bottom: 0


.owl-nav
	.owl-prev,
	.owl-next
		position: absolute
		top: 50%
		margin-top: -34px
		width: 64px
		height: 64px
		display: flex
		justify-content: center
		background-color: rgba(#000, .4) !important
		transition: all .5s linear

		&:hover
			background-color: rgba(#000, .6) !important
		
		&:active
			background-color: rgba(#000, .5) !important

		&:focus
			outline: none


		span
			display: block
			width: 19px
			height: 36px
			font-size: 0

	.owl-prev
		left: 40px

		span
			background: url(../img/slider-arrow-prev.svg) 0 0 no-repeat

	.owl-next
		right: 40px

		span
			background: url(../img/slider-arrow-next.svg) 0 0 no-repeat


.fotorama__thumb-border
	width: 116px !important
	border-color: $yellow

.fotorama__nav__frame--thumb
	width: 120px !important

.fotorama__stage:before,
.fotorama__stage:after
	width: 64px
	height: 64px
	bottom: auto
	top: 50%
	margin-top: -32px

.fotorama__stage:before
	left: 40px

.fotorama__stage:after
	right: 40px

.fotorama__nav:before,
.fotorama__nav:after
	width: 40px
	height: 40px
	bottom: auto
	top: 50%
	margin-top: -20px

.fotorama__stage:after,
.fotorama__nav:after
	background: rgba(0,0,0, .4) url(../img/slider-arrow-next.svg) 50% 50% no-repeat

.fotorama__nav:before,
.fotorama__stage:before
	background: rgba(0,0,0, .4) url(../img/slider-arrow-prev.svg) 50% 50% no-repeat

.fotorama__nav:before
	left: 10px
	-webkit-background-size: 10px
	background-size: 10px

.fotorama__nav:after
	right: 10px !important
	-webkit-background-size: 10px
	background-size: 10px

.fotorama__arr
	display: none !important

