html
	head
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans&display=swap")
		link(rel="stylesheet" href="css/fotorama.css")
		link(rel="stylesheet" href="css/georgia.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="js/fotorama.js")
		script(src="js/georgia-init.js")

	body
		header
			.wrapper
				h1 Отдых в Грузии
				.header-time осень&nbsp;
					span 2019

				.header-links
					.header-links__item
						span Казбеги
					.header-links__item
						span Хванчкара
					.header-links__item
						span Кахетия
					.header-links__item
						span Пиросмани
					.header-links__item
						span Мцхета
					.header-links__item
						span Хинкали
					.header-links__item
						span Саперави
					.header-links__item
						span Джвари
					.header-links__item
						span Арагва и Кура



		.reasons
			.header
				h2 Три причины, чтобы поехать в Грузию:

			.wrapper

				.reasons-list
					.reason-item
						h3 Тепло
						p Погода во второй половине октября была выше 20
							sup 0
							| С.<br>
							| Дни были преимущественно солнечные, пару дней было облачно, но без дождя или ветра. В горах, конечно, прохладнее, но максимум, что потребовалось — легкая пуховая куртка.
					.reason-item
						h3 Красиво
						p Самые красивые виды, которые довелось увидеть — Военно-Грузинская дорога. Дорога на перевал Крестовый, крутой серпантин с альпийскими лугами и местами, где можно полетать на параплане.
					.reason-item
						h3 Недорого
						p Недорогая еда, фрукты, доступные развлечения — все это делает отдых приятным и легким для кошелька.


				.reasons__slider
					.fotorama.js-fotorama
						img(src="img/slider-1.jpg" alt="" data-caption="Жинвальское водохранилище. Находится рядом с Тбилиси. Неподалеку находится крепость Ананури")
						img(src="img/slider-2.jpg" alt="Улица Шота Руставели. Центральная улица Тбилиси")
						img(src="img/slider-3.jpg" alt="Вид на город. Снято с кладбища")


		.walking-info
			.header
				h2 Прогулки по Тбилиси

			.wrapper
				.walking
					.walking__text
						#tab-1.active
							p Мы сняли квартиру на airbnb с видом на гору Мтацминда, 10 дней проживания обошлись нам в 17 тыс. рублей. Большой плюс квартиры — наличие терассы с видом на гору. Когда снимали ее, думали о том, что будем сидеть вечерами с вином и смотреть на гору. Так и вышло: утром завтракали и любовались городом, вечером — ели хинкали, пили вино и смотрели на звезды.
							p Квартира расположена недалеко от проспекта Шота Руставели — это центральная улица города, на которой находится здание Парламента (до 2012 г), основные музеи, магазины, рестораны.
							p Проспект Руставели начинается от площади Свободы, откуда через улицу Коте Абхази можно дойти до центральной площади Мейдан.
							p В крепость Нарикала можно подняться по узким улочкам от Мейдана. Если очень лениво подниматься пешком, можно добраться от парка Рике по канатной дороге. Рядом с крепостью находится еще одна городская достопримечательность — памятник Матери Грузии.
							p Так же обязательно стоит посетить легендарный район Сололаки, где увядают, бывшие когда-то роскошными, дома грузинских купцов.
						#tab-2
							p Квартира расположена недалеко от проспекта Шота Руставели — это центральная улица города, на которой находится здание Парламента (до 2012 г), основные музеи, магазины, рестораны.
							p Проспект Руставели начинается от площади Свободы, откуда через улицу Коте Абхази можно дойти до центральной площади Мейдан.
							p В крепость Нарикала можно подняться по узким улочкам от Мейдана. Если очень лениво подниматься пешком, можно добраться от парка Рике по канатной дороге. Рядом с крепостью находится еще одна городская достопримечательность — памятник Матери Грузии.
						#tab-3
							p Так же обязательно стоит посетить легендарный район Сололаки, где увядают, бывшие когда-то роскошными, дома грузинских купцов.
							p Мы сняли квартиру на airbnb с видом на гору Мтацминда, 10 дней проживания обошлись нам в 17 тыс. рублей. Большой плюс квартиры — наличие терассы с видом на гору. Когда снимали ее, думали о том, что будем сидеть вечерами с вином и смотреть на гору. Так и вышло: утром завтракали и любовались городом, вечером — ели хинкали, пили вино и смотрели на звезды.
							p Квартира расположена недалеко от проспекта Шота Руставели — это центральная улица города, на которой находится здание Парламента (до 2012 г), основные музеи, магазины, рестораны.
							p Проспект Руставели начинается от площади Свободы, откуда через улицу Коте Абхази можно дойти до центральной площади Мейдан.


					.walking__menu
						nav
							ul.js-tabs
								li(data-tab="tab-1") Мтацминда
								li(data-tab="tab-2") Нарикала
								li(data-tab="tab-3") Памятник Матери Грузии
								li(data-tab="tab-4") Сололаки

				.walking-slider
					.fotorama.js-fotorama-thumbs
						a(href="img/slider-1.jpg")
							img(src="img/slider-1.jpg" width="120" alt="")
						a(href="img/slider-2.jpg")
							img(src="img/slider-2.jpg" width="120" alt="")
						a(href="img/slider-3.jpg")
							img(src="img/slider-3.jpg" width="120" alt="")
						a(href="img/slider-1.jpg")
							img(src="img/slider-1.jpg" width="120" alt="")
						a(href="img/slider-2.jpg")
							img(src="img/slider-2.jpg" width="120" alt="")
						a(href="img/slider-3.jpg")
							img(src="img/slider-3.jpg" width="120" alt="")
						a(href="img/slider-1.jpg")
							img(src="img/slider-1.jpg" width="120" alt="")
						a(href="img/slider-2.jpg")
							img(src="img/slider-2.jpg" width="120" alt="")
						a(href="img/slider-3.jpg")
							img(src="img/slider-3.jpg" width="120" alt="")
						a(href="img/slider-1.jpg")
							img(src="img/slider-1.jpg" width="120" alt="")
						a(href="img/slider-2.jpg")
							img(src="img/slider-2.jpg" width="120" alt="")
						a(href="img/slider-3.jpg")
							img(src="img/slider-3.jpg" width="120" alt="")
						a(href="img/slider-1.jpg")
							img(src="img/slider-1.jpg" width="120" alt="")
						a(href="img/slider-2.jpg")
							img(src="img/slider-2.jpg" width="120" alt="")
						a(href="img/slider-3.jpg")
							img(src="img/slider-3.jpg" width="120" alt="")

		.eat-wine
			.header
				h2 Еда и вино

			.wrapper
				.eat-wine-text
					p В Тбилиси много мест, где можно вкусно и недорого поесть. Хачапури, хинкали, шашлык, долма, купаты, ачма — это лишь небольшой список того, что надо обязательно попробовать.
					p Самое вкусное вино оказалось в погребке на улице Винный подъем, а самый вкусный шашлык в ресторане, куда мы зашли совсем случайно просто выпить вина. В итоге и вина выпили, и шашлык с соусом Наршараб поели.
					p Хорошие рестораны есть на улице Ерекли II, место туристическое, но хинкали нам очень понравились. Лучшие из тех, что мы пробовали.
					p Перед посещением Грузии я немного подготовилась и почитала про вино. Обнаружилось, что грузины пьют в основном домашнее сухое белое, так как его можно выпить много и не будет похмелья.
					p Белое мы пробовали сухое Ркацители и полусладкое Твиши. Все понравилось.
					p Из сухих красных понравилось Мукузани, Саперави из квеври (глиняные кувшины, в которых настаивается вино).
					p Но самым дорогим считается вино из сорта Усахелаури. Растет в горном районе Раче. В Питере стоит около 5 тыс. за бутылку. Оставили на следующий раз, чтобы было к чему вернуться.


		.museum-akhvlediani
			.header
				h2 Музей Елены Ахвледиани

			.wrapper
				.museum-akhvlediani-text
					p В музей Елены Ахвледиани мы пошли по наводке одного телеграмм-канала.
					p Музей находится на улице Лео Киачели, 12. Это бывшая рабочая студия художницы, где она и жила.
					p Елена родилась в Кахетии, позже ее родители переехали в Тбилиси.
					p Много рисовала Грузию: Кахетию, Тбилиси, маленькие города - Шатили, Телави, Кутаиси. Когда она поняла, что облик любимого города меняется на глазах - старалась запечатлеть старый Тбилиси на своих картинах.
					p Эта серия мне очень пришлась по душе.

		footer
			.wrapper
				.footer-content
					.footer-content__left
						p Дизайн и верстка — Надежда Дегтярёва
						p Тексты — Елена Бем
					.footer-content__right
						p
							a(href="mailto:mail.ndeg.ru@gmail.com") Заказать дизайн, верстку
						p
							a(href="mailto:el_eut@mail.ru") Заказать тексты